$primary-color: #ec1b2e;
$gold-color: #a69b5c;
$color-success: green;

.flex {
  display: flex !important;
  flex: none;

  &.space-between {
    justify-content: space-between;
  }
  &.flex-end {
    justify-content: flex-end;
  }
  &.align-end {
    align-items: flex-end;
  }
  &.align-center {
    align-items: center;
  }
  &.just-center {
    justify-content: center;
  }
  &.direction-column {
    flex-direction: column;
  }
}
///////////////////////////////
.loading {
  display: flex;
  justify-content: center;
  height: calc(100vh - 170px);
  // height: 40px;
  align-items: center;
  &.small {
    height: 40px;
    align-items: center;
  }
}
/////////////////////////////////
.wrapper {
  padding: 13px;
}
/////////////////////////////////
.cust-select{
  color: $primary-color;
  &::before{
    border-bottom: 1px solid $primary-color;
  }
  div svg{
      color: $primary-color;
  }
}
/////////////////////////////////
.qpill-item {
  text-align: center;
  height: 100%;
  padding: 0px 3px;
  border: 1px solid $primary-color;
  margin-right: 10px;
  border-radius: 3px;
  font-size: small;
  flex: 1;
  &:last-child {
    margin-right: 0;
  }
  &.active {
    background-color: $primary-color;
    color: white;
  }
}
/////////////////////////////////
.update-date {
  margin-top: 5px;
  
  i {
    font-style: italic;
    font-size: smaller;
  }
}
/////////////////////////////////

.consistensy-wrapper,
.estimation-wrapper {
  border: 1px solid #ded3d3;
  margin-top: 10px;
  border-radius: 5px;

  .consistensy-container {
    // border: 1px solid #ded3d3;
    padding: 10px;
    .achievement-container {
      height: 100%;
      .item-achieved {
        flex: 0;
        border: 1px solid $primary-color;
        height: 100%;
        width: fit-content;
        padding: 0px 15px;
        border-radius: 30px;
        font-size: small;

        &.fullachieved {
          color: white;
          background: $color-success;
          border-color: $color-success;
        }
        &.halfachieved {
          color: white;
          background: $gold-color;
          border-color: $gold-color;
        }
        &.notachieved {
          color: white;
          background: $primary-color;
          border-color: $primary-color;
        }
      }
    }
    .prog-custom {
      position: relative;
      margin-top: 10px;
      .prog-base {
        border-bottom: 5px solid lightgrey;
        border-radius: 20px;
      }
      .prog-fillin {
        // width: 50%;
        position: absolute;
        border-bottom: 5px solid $gold-color;
        border-radius: 20px;
        top: 0;
      }
    }
    .consistensy-item {
      .item-icon {
        display: flex;
        align-items: start;
        // flex: 1;
        justify-content: center;
        color: $primary-color;
        padding-right: 10px;
      }

      .item-desc {
        flex: 5;
        .desc-q {
          font-weight: 600;
          padding: 3px 0;
        }
        .desc-value {
          font-size: small;
        }
        .leftover-dec {
          font-size: x-small;
        }
      }
    }

  }
}
.see-detail {
  text-align: center;
  color: $primary-color;
}
.error-msg {
  text-align: center;
  display: flex;
  min-height: calc(100vh - 300px);
  align-items: center;
  justify-content: center;
}
